extends layout

block content
  link(rel='stylesheet', href='/stylesheets/images.min.css')
  div.container-fluid
    a.nav-link.underline(href='/' style="text-align: center; position: fixed; left: 0;") Back
    h1.mx-auto.txt-white#title(class='col-xs-12' style="text-align: center;")="About"
  hr(style="border-color: var(--bck-color);")
  div.container-fluid  
    div.row.justify-content-center
      h6.col-10.txt-white(style="background-color: #360; padding: 10px; border-radius: 6px;")="I started this website due to a problem I was having during my job search after I graduated. I realized that all of the places I applied to used countless different applicant portals and it was increasingly difficult to keep track of the jobs I was applying to. I was planning to solely use the website for organizing my applications and also to boost my portfolio as a side project. After being hired I continue to work on the website as more suggestions come."
    div.row.fixed-bottom
      a.nav-link.underline.mx-auto.col-3(href="https://kvnlws.xyz" style="text-align: center;") My portfolio
    div.row
      a.col-12.col-sm-6.lightbox(href="#prospectiveImg")
        img(src="/images/prospective.png")
      a.col-12.col-sm-6.lightbox(href="#appliedImg")
        img(src="/images/applied.png")
      a.col-12.col-sm-6.lightbox(href="#interviewingImg")
        img(src="/images/interviewing.png")
      a.col-12.col-sm-6.lightbox(href="#rejectedImg")
        img(src="/images/rejected.png")
      div.lightbox-target#appliedImg
        img(src="/images/applied.png")
        a.lightbox-close(href="#")
      div.lightbox-target#interviewingImg
        img(src="/images/interviewing.png")
        a.lightbox-close(href="#")
      div.lightbox-target#prospectiveImg
        img(src="/images/prospective.png")
        a.lightbox-close(href="#")
      div.lightbox-target#rejectedImg
        img(src="/images/rejected.png")
        a.lightbox-close(href="#")
