extends layout

block content
  div.container-fluid
    div.row
      h1.mx-auto.txt-white#title(class='col-xs-12' style="text-align: center;")="About"
  hr(style="border-color: var(--bck-color);")
  div.container-fluid  
    div.row.justify-content-center
      h6.col-10.txt-white="I started this website due to a problem I was having during my job search after I graduated. I realized that all of the places I applied to used countless different applicant portals and it was increasingly difficult to keep track of the jobs I was applying to. I was planning to solely use the website for organizing my applications and also to boost my portfolio as a side project. After being hired I continue to work on the website as more suggestions come."
    div.row.fixed-bottom
      a.mx-auto.txt-white(href="https://kvnlws.xyz" style="text-decoration: underline;") My portfolio
