extends layout

block content
  form(id="forgot_form" method='POST' action='/forgot')
    div.container-fluid
      div.row.justify-content-center
        h1.txt-white(style="font-size: 400%;") Forgot Password
      if messageError
        div.row.justify-content-center
          p.col-xs-12.col-sm-7.alert.alert-danger=messageError
      else if messageInfo
        div.row.justify-content-center
          p.col-xs-12.col-sm-7.alert.alert-info=messageInfo
      div.row.justify-content-center
        input.form-control.col-xs-12.col-sm-7(type='text', name='email' placeholder='E-mail')
      div.row.justify-content-center
        a.btn.btn-sm.animated-button.green.col-xs-12.col-sm-7(
          href="javascript:{}" 
          onclick="document.getElementById('forgot_form').submit();"
          ) Reset Password
