extends layout

block content
  div#home-container.container-fluid
    div.row
      div.col-12.col-sm-7.col-md-6.container-fluid
        a(href="/" style="color: var(--txt-color)!important; text-decoration: unset;")  
          div.row
            h1#title.mx-auto.txt-white.col-xs-12(style='text-align: center;')="Jobtrakr"
              sup(style="font-size: 20%; top: -3.15em;") beta
        div(style="background-color: #360; padding: 10px; border-radius: 6px;")
          p.txt-white(style="text-align: center;") Jobtrakr allows job searchers to organize their applications in an intuitive way to make the search process easier.
          p.txt-white(style="text-align: center;") See the about page for a sneak peek of the features.
      div.col-12.col-sm-5.col-md-6.container-fluid(style="margin-top: 4%;")
        div.row.justify-content-center
          a#loginButton.btn.btn-sm.animated-button.green.col-12.col-sm-8(
            href='/login'
          ) Login
        div.row.justify-content-center
          a#signupButton.btn.btn-sm.animated-button.green.col-12.col-sm-8(
            href='/signup'
          ) Sign Up
    hr(style="border-color: var(--bck-color);")
    div.row
      a.nav-link.underline.mx-auto.col-4.col-sm-2(href='/about' style="font-size: 200%; text-align: center;") About
    p.index-footer.col-6.txt-white(style="margin-bottom: 0; text-align: end;") &copy; 2018
      
    
