doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-109518762-1")
    script(async, src="/scripts/googanal.js")
    script(src="/scripts/jquery-3.2.1.min.js")
    script(src="/scripts/tether.min.js")
    script(src="/scripts/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.version
      p beta
    block content
      
      
