:root {
  --txt-color: #000000;
  --bck-color: #FFFFFF;
  --off-color: #A6D49F;
  --accent: #60993E;
}

/*WIDTH RELEVANT STYLES*/
@media (max-width: 375px) {
  #submitJobBtn {
    width: 33%;
  }
  .edit-icon {
    width: 20%;
  }
  #title {
    font-size: 400%!important;
  }
  #instru {
    display: none;
  }
  .reject {
    color: var(--bck-color)!important;
    background-color: #9A031E!important;
  }
  .rmv {
    color: var(--bck-color)!important;
    background-color: #9A031E!important;
  }
  .move {
    color: var(--bck-color)!important;
    background-color: #360!important;
  }
}

@media (min-width: 376px) {
  .reject {
    color: var(--bck-color)!important;
    background-color: #9A031E!important;
  }
  .rmv {
    color: var(--bck-color)!important;
    background-color: #9A031E!important;
  }
  .move {
    color: var(--bck-color)!important;
    background-color: #360!important;
  }
  #job-buttondiv {
    -webkit-box-pack: end!important;
    justify-content: end!important;
  }
  .job-box label {
    font-size: 120%;
  }
  .job-box a {
    font-size: 120%;
  }
  #commentlink {
    padding-right: 0;
  }
}

@media (min-width: 576px) {
  .form-inline .form-control {
    width: 100%;
  }
  .rmv {
    margin-right: 0.5rem!important;
  }
}

@media (min-width: 768px) {
  #instru {
    display: none;
  }

  .fa-arrow-right {
    display: none;
  }

  .nav-link {
    font-size: 150%!important;
  }
}

@media (max-width: 576px) {
  #footer {
    position: inherit;
  }
}
#footer {
  position: inherit;
}

/*OTHER STYLES*/
* {
  /*font-family: 'Roboto', sans-serif!important;*/
}

nav {
  background-color: #172535;
}

.txt-white {
  color: var(--bck-color)!important;
}

.txt-black {
  color: var(--txt-color)!important;
}

html {
  min-height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: var(--bck-color);*/
  color: var(--txt-color);
  padding-top: 55px;

  height: 100%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/images/back-2.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

nav * {
  color: var(--bck-color);
}

.resize {
  height: auto;
  width: auto;
}

/*
// adding jobs
*/
#addjobarea {
  text-align: center;
  background-color: #172535;
  color: var(--bck-color);
  transition: all .3s ease-out;
  height: 100%;
}

#addprospectarea {
  text-align: center;
  background-color: #172535;
  color: var(--bck-color);
}

.interviews-area {
  border-left: solid 5px var(--bck-color);
}

.interviews-area > a:hover {
  color: var(--bck-color)!important;
}

.interview-box * {
  color: var(--txt-color)!important;
}

.interview-box.interview-box-input > * {
  border: 2px solid #360;
}

.interview-box {
  background-color: var(--off-color)!important;
}

#addInterviewButton {
  background-color: #360!important;
  color: var(--bck-color)!important;
}

#addInterviewButton:hover {
  border: solid 1px var(--txt-color);
}

.interview-caret:hover {
  background-color: var(--off-color)!important;
  color: #360!important;
}

.hide {
    overflow: hidden;
    max-height: 0;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    padding: 0!important;
}
.show {
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
}

.showInfo {
  max-height: 1000px;
  overflow: hidden;
}

.hideInfo {
  overflow: hidden;
  max-height: 0;
  padding: 0!important;
}

#title {
  font-size: 600%;
}

#prospective > .job-box {
  background-color: #6F8695;
  border-left: solid 5px var(--bck-color);
}

#interviews > .job-box {
  background-color: #360;
  border-left: solid 5px var(--bck-color);
}

#interviews * {
  color: var(--bck-color);
}

#addInterviewButton {
  background-color: #fff;
  border: none;
}

#addInterviewButton:hover {
  background-color: #360;
}

#loginButton:hover {
  color: #FFFFFF!important;
}

#signupButton:hover {
  color: #FFFFFF!important;
}

a {
  color: var(--txt-color);
}

a:hover {
  color: var(--accent)!important;
  cursor: pointer;
}

#home-container #title {
  color: var(--txt-color);
}

.text-field {
  color: #17202A;
}

.pwdreq {
  margin-bottom: 0!important;
  font-size: 90%
}

.form-control {
  border-radius: 0;
}

hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  border-color: var(--txt-color);
}

/*
//BUTTONS
*/
.row {
  padding: 5px;
}

.rmv {
  border: 0px;
  background-color: var(--bck-color);
  color: var(--txt-color);
}

.rmv:hover {
  background-color: #8D0801!important;
  color: var(--bck-color)!important;
}

.move {
  border: 0px;
}

.move:hover {
  background-color: #264d00!important;
}

.btn-success {
  background-color: #360;
}

.btn-success:hover {
  background-color: #264d00!important;
}

#no {
  background-color: #9A031E!important;
  color: var(--bck-color);
  border-color: 1px solid var(--bck-color)!important;
}

#no:hover {
  background-color: #8D0801!important;
  color: var(--bck-color);
}

#yes {
  border-color: 1px solid var(--bck-color)!important;
}

form > .btn {
  margin-right: 1rem;
}

.reject {
  border: 0px;
  background-color: var(--bck-color);
  color: var(--txt-color);
}

.reject:hover {
  background-color: #8D0801!important;
}

.container > div > .btn {
  border-color: var(--txt-color);
  background-color: var(--off-color);
  color: var(--txt-color);
}
.container > div > .btn:hover {
  background-color: #360;
  color: var(--bck-color);
}

.container-fluid > div > .btn {
  border-color: var(--txt-color);
  background-color: var(--off-color);
  color: var(--txt-color);
}
.container-fluid > div > .btn:hover {
  background-color: #360;
  color: var(--bck-color);
}

.btn {
  border-radius: 0px;
}

.btn:hover {
  cursor: pointer;
}

.btn-danger {
  background-color: #8D0801;
  border-color: var(--bck-color);
}

.btn-danger:hover {
  background-color: #8D0801;
  border-color: var(--txt-color);
}

.submit-btn:hover {
  background-color: #360!important;
  border: solid 1px var(--bck-color)!important;
}

/*
//BOXES
*/
.job-box {
  border-left: solid 5px var(--accent);
  margin-bottom: 3px;
  background-color: var(--off-color);
  color: var(--txt-color);
}

.interview-box {
  margin-bottom: 3px;
  background-color: var(--off-color);
  color: var(--txt-color);
}

.reject-box {
  border-left: solid 5px #9A031E;
  background-color: #E3B5A4;
}

.navbar {
  padding: 0.25rem 0.5rem;
}

.navbar-brand {
  padding-bottom: 0;
  font-size:  2.5rem;
}

.job-btn-grp {
  padding-right: 0px;
}

.alert {
  border-radius: 0px;
}

#commentlink {
  color: var(--txt-color)!important;
}

#commentlink:hover {
  cursor: pointer;
  color: var(--txt-color)!important;
}

#companylink {
  text-decoration: underline!important;
}

#companylink:hover {
  color: #FFFFFF!important;
}

.index-footer {
  position: fixed;
  bottom: 0;
  color: var(--bck-color);
}

#carousel {
  height: 760px;
  max-height: 760px;
}
