body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #666666;
  color: #ffaa00;
}

a {
  color: #00B7FF;
}

#home-container {
  color: #ffaa00;
}


.container > div > .btn {
  border-color: #ffaa00;
  background-color: #666666;
  color: #ffaa00;
}
.container > div > .btn:hover {
  background-color: #ffaa00;
  color: #666666;
}

.btn {
  border-radius: 0px;
}

#sign-in {
  margin-right: 5px;
}

hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: #ffaa00;
}

.row {
  padding: 5px;
}

.rmv {
  padding: 1px;
  border: 0px;
  background-color: #ffaa00;
  color: #000000;
}

#job-box {
  border-left: solid 5px #ffaa00;
  margin-bottom: 3px;
  background-color: #ffe6b3;
  color: #000000;
}

#job-box > button {

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #ffe6b3;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 0px;
    padding-top: 5px;
    color: #000000; /* Black text */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
